# Managed by saltstack

{% set site_attr = salt['pillar.get']('apache:sites:' ~ site) %}

<VirtualHost {{ site_attr['addr'] }}>
  ServerName {{ site_attr['server_name'] }}
  ServerAlias {{ site_attr['server_alias'] }}
  ServerAdmin {{ site_attr['server_admin'] }}
  DocumentRoot {{ site_attr['document_root'] }}
  <Directory {{ site_attr['document_root'] }}/>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>
  ErrorLog {{ site_attr['error_log'] }}
  LogLevel {{ site_attr['log_level'] }}
  CustomLog {{ site_attr['custom_log'] }} combined
{%- if site_attr['fast_cgi_external_server'] %}
  <IfModule mod_proxy_fcgi.c>
    ProxyPassMatch ^/(.*\.php(/.*)?)$ {{ site_attr['fast_cgi_external_server'] }}|fcgi://localhost{{ site_attr['document_root'] }}
  </IfModule>
{%- endif %}
  {{ site_attr['extra_conf'] | default('')}}
</VirtualHost>
